{% comment %}
  These are the buttons that can appear on a bundle landing page
  Resume, Enroll Free, Buy, etc.
{% endcomment %}

<section class="section__button-group">
  {% assign bundle = page.bundle %}
  {% if bundle.previously_purchased %}
    <a href="{{ bundle.links.resume }}" class="button button-primary">
      {{ bundle.enroll_free_button_text }}
    </a>
  {% else %}
    {% if bundle.is_free %}
      <a href="{{ bundle.links.enroll_free }}" class="button button-primary">
        {{ bundle.enroll_free_button_text }}
      </a>
    {% else %}
      <a href="{{ bundle.links.buy }}" class="button button-primary button-purchase">
        {{ bundle.buy_button_text }}
      </a>
    {% endif %}
  {% endif %}
</section>
