{% comment %}
  This is the card representation of your course.
{% endcomment %}

<section class="course-card course-card__public {{ course.status }}" data-card-url="{{ course.links.landing_page_url }}" tabindex="0">
  <header class="course-card__img-container" style="background-image:url({{ course.card_image_url }});">
    <a href="{{ course.links.landing_page_url }}" tabindex="-1"></a>
  </header>
  <div class="course-card__body">
    {% if course.is_public %}
    <div class="course-card__price">
      {{ course.display_price }}
    </div>
    {% endif %}
    <h3>{{ course.name }}</h3>
    <p>{{ course.course_card_text | truncate: 250 }}</p>
    {% if course.reviews_enabled and course.reviews.approved_count > 0 %}
      <span class="review__stars">
        {% assign rating = course.reviews.average_rating | ceil %}
        {% for index in (1..rating) %}
          <label>
            <input type="radio" name="rating" value="{{ index }}" tabindex="-1" />
            {% include 'star' %}
          </label>
        {% endfor %}
      </span>
    {% endif %}
  </div>
  {% if course.chapters.size != empty OR course.lesson_hours != empty %}
  <footer class="course-card__details">
    {% if course.chapters.size != blank %}<span class="course-card__lesson-count"><strong>{{ course.chapters.size }}</strong> Lessons</span>{% endif %}
    {% if course.lesson_hours != blank %}<span class="course-card__lesson-time">{{ course.lesson_hours }}</span>{% endif %}
  </footer>
  {% endif %}
</section>
