{% comment %}
  These are the buttons that can appear on a course landing page
  Free Trial, Buy, Enroll for Free, etc.
{% endcomment %}

<section class="course-action-buttons section__button-group">
  {% assign course = page.course %}
  {% unless course.is_draft %}
    {% if course.user_can_resume %}
      {% if course.user_enrollment_complete %}
        <a href="{{ course.links.resume }}" class="button button-secondary">{{ 'liquid.partials.course_landing_page_action_buttons.link_review_course' | translate }}</a>
      {% else %}
        <a href="{{ course.links.resume }}" class="button{% if course.user_can_purchase %} button-secondary{% else %} button-primary{% endif %}">{{ 'liquid.partials.course_landing_page_action_buttons.link_resume_course' | translate }}</a>
      {% endif %}
      {% if course.reviews_enabled %}
        {% unless course.user_can_purchase %}
          <a href="{{ course.links.review }}" class="button{% if course.user_enrollment_complete %} button-primary{% else %} button-secondary{% endif %}">{{ 'liquid.partials.course_landing_page_action_buttons.link_rate_course' | translate }}</a>
        {% endunless %}
      {% endif %}
    {% endif %}
    {% if course.is_public %}
      {% if course.is_free %}
        <a href="{{ course.links.enroll_free }}" class="button button-primary">{{ 'liquid.partials.course_landing_page_action_buttons.link_enroll_free' | translate }}</a>
      {% endif %}
      {% if course.user_can_purchase %}
        {% if course.additional_prices != empty %}
          <label for="{{ course.name | kebab_case }}" class="form__select-no-label">
            <select id="{{ course.name | kebab_case }}" name="{{ course.display_price }}" class="form__control course-action-buttons__additional-prices">
              <option value="{{ course.links.buy }}" selected>Regular - {{ course.display_price }}</option>
              {% for price in course.additional_prices %}
                <option value="{{ price.links.add_to_cart }}">{{ price.name }} - {{ price.display_price }}</option>
              {% endfor %}
            </select>
          </label>
        {% endif %}
          <a href="{{ course.links.buy }}" class="button button-primary button-purchase">
            {% if course.additional_prices != empty %}
              Purchase
            {% else %}
              {{ course.buy_button_text }}
            {% endif %}
          </a>
      {% endif %}
      {% if course.has_free_trial %}
        <a href="{{ course.links.enroll_free_trial }}" class="button{% unless course.user_can_purchase %} button-primary{% else %} button-secondary{% endunless %}">{{ 'liquid.partials.course_landing_page_action_buttons.link_free_trial' | translate }}</a>
      {% endif %}
    {% else %}
      <p class="product-action-button--private">
        <i class="fa fa-lock"></i>
        <a href="mailto:{{ site.support_email }}" target="_blank">{{ 'liquid.partials.course_landing_page_action_buttons.text_email_us' | translate }} {{ site.support_email }}</a>
      </p>
    {% endif %}
  {% endunless %}
</section>

<script>
$(window).load(function() {
  var $priceList = $('.course-action-buttons__additional-prices'),
      $buttonPurchase = $('.course-action-buttons .button-purchase');
  $buttonPurchase.attr('href', $priceList.val());
  $priceList.on('change', function() {
    $buttonPurchase.attr('href', $(this).val());
  });
});
</script>
