{% comment %}
  This is the legacy student course card.
  Found on Horizon, Ice-Cream & Altitude
{% endcomment %}

<section class="course-card course-card__dashboard-legacy">
  <header class="course-card__img-container">
    <img src="{{ card.image_url }}" alt="{{ card.name }}" title="{{ card.name }}" class="course-card__img img-responsive" />
  </header>
  <article class="course-card__body">
    <h3 title="{{ card.name }}">{{ card.name_truncated }}</h3>
    {% if card.has_enrollment %}
      <section class="course-card__progress--bar">
        <h4 class="progress__percentage">
          {{ card.progress_percentage }}%
        </h4>
        <span class="progress__bar" style="width:{{ card.progress_percentage }}%;"></span>
      </section>
    {% endif %}
    <section class="course-card__cta-secondary">
      <a href="{{ card.landing_page_url }}" tabindex="0">
        {{ 'liquid.partials.dashboard_course_card.link_see_overview' | translate }}
      </a>
      {% if card.course_reviews_enabled %}
        {% if card.enrollment_complete %}
          <a href="{{ card.resume_course_url }}" tabindex="0">
            {{ 'liquid.partials.dashboard_course_card.link_replay_course' | translate }}
          </a>
        {% else %}
          <a href="{{ card.course_review_url}}" tabindex="0">
            {{ 'liquid.partials.dashboard_course_card.link_rate_course' | translate }}
          </a>
        {% endif %}
      {% endif %}
    </section>
  </article>
  <footer class="course-card__cta">
    {% if card.enrollment_complete %}
      {% if card.course_reviews_enabled %}
        <a href='{{ card.course_review_url }}' class="button button-primary button-block" tabindex="0">
          {{ 'liquid.partials.dashboard_course_card.link_rate_course' | translate }}
        </a>
      {% else %}
        <a href="{{ card.resume_course_url }}" class="button button-primary button-block" tabindex="0">
          {{ 'liquid.partials.dashboard_course_card.link_replay_course' | translate }}
        </a>
      {% endif %}
    {% else %}
      <a href='{{ card.resume_course_url }}' class="button button-primary button-block" tabindex="0">
        {{ 'liquid.partials.dashboard_course_card.link_resume_course' | translate }}
      </a>
    {% endif %}
  </footer>
</section>
