{% comment %}
  This is the student dashboard course card.
{% endcomment %}

<section class="course-card course-card__dashboard">
  <header class="course-card__img" style="background-image: url({{ card.image_url }});">
    <h3>{{ card.name_truncated }}</h3>
    <a href="{{ card.resume_course_url }}" class="button button-primary" tabindex="-1">
      {{ 'liquid.partials.dashboard_course_card.link_resume_course' | translate }}
    </a>
  </header>
  <article class="course-card__body">
    {% if card.has_enrollment %}
      <section class="course-card__progress course-card__progress--circle" data-progress="{{ card.progress_percentage }}">
      	<span class="circle">
      		<span class="mask full">
      			<span class="fill"></span>
      		</span>
      		<span class="mask half">
      			<span class="fill"></span>
      			<span class="fill fix"></span>
      		</span>
          <span class="progress__percentage">
      			{{ card.progress_percentage }}%
        	</span>
        </span>
      </section>
    {% endif %}
  </article>
  <footer class="course-card__details">
    <a href="{{ card.landing_page_url }}" class="course-card__overview" tabindex="0">
      <i class="fa fa-edit"></i>
      {{ 'liquid.partials.dashboard_course_card.link_see_overview' | translate }}
    </a>
    {% if card.course_reviews_enabled %}
      <a href="{{ card.course_review_url}}" class="course-card__rate" tabindex="0">
        <i class="fa fa-star-half-o"></i>
        {{ 'liquid.partials.dashboard_course_card.link_rate_course' | translate }}
      </a>
    {% else %}
      {% if card.enrollment_complete %}
        <a href="{{ card.resume_course_url }}" class="course-card__replay" tabindex="0">
          <i class="fa fa-repeat"></i>
          {{ 'liquid.partials.dashboard_course_card.link_replay_course' | translate }}
        </a>
      {% else %}
        <a href="{{ card.resume_course_url }}" class="course-card__resume" tabindex="0">
          <i class="fa fa-play"></i>
          {{ 'liquid.partials.dashboard_course_card.link_resume_course' | translate }}
        </a>
      {% endif %}
    {% endif %}
  </footer>
</section>
