{% comment %}
  This is the pagination list displayed below a list of products
{% endcomment %}

{% if paginate.pages > 1 %}
  <nav class="pagination">
    {% assign pagination_offset = paginate.current_offset | plus: 1 %}
    {% if paginate.current_page != paginate.pages %}
    {% assign pagination_offset_last = paginate.current_offset | plus: paginate.page_size %}
    {% else %}
    {% assign pagination_offset_last = paginate.items %}
    {% endif %}
    <p class="pagination__overview">Showing <strong>{{ pagination_offset }}</strong> - <strong>{{ pagination_offset_last }}</strong> of <strong>{{ paginate.items }}</strong> courses</p>
    <ul class="pagination__pages">
      <li>
        {% if paginate.previous_page %}
          <a href="{{ paginate.previous_page.url }}"><i class="fa fa-chevron-left"></i></a>
        {% else %}
          <i class="fa fa-chevron-left"></i>
        {% endif %}
      </li>
      {% for page in paginate.parts %}
        <li {% if page.title == paginate.current_page %}class="active"{% endif %}>
          <a href="{{ page.url }}" class="pagination__page-number">{{ page.title }}</a>
        </li>
      {% endfor %}
      <li>
        {% if paginate.next_page %}
          <a href="{{ paginate.next_page.url }}"><i class="fa fa-chevron-right"></i></a>
        {% else %}
          <i class="fa fa-chevron-right"></i>
        {% endif %}
      </li>
    </ul>
  </nav>
{% endif %}
