{% comment %}
  This is the vendor logins for LinkedIn, etc.
{% endcomment %}

{% if page.has_remote_signin %}
  <p class="remote-sign-in__vendor-logins">
    {% if page.has_linkedin_enabled %}
      <a href="{{ page.linkedin_oauth_url }}" class="button button--linkedin">
        {{ 'liquid.views.sign_up_page.link_linkedin' | translate }}
      </a>
    {% endif %}
    {% if page.supports_remote_auth %}
      <a href='{{ page.tenant_oauth_url }}' class="button button-secondary">
        {{ page.tenant_auth_text }}
      </a>
    {% endif %}
    <span class="remote-sign-in__divider">{{ 'liquid.views.sign_up_page.sign_up_or_text' | translate }}</span>
  </p>
{% endif %}
