<div class="affiliate">
  <aside>
    {% include 'affiliate__menu' %}
  </aside>
  <main id="{{ theme.settings.main_content_id }}">
    <section>
      <h1>{{ 'liquid.views.affiliate_reports_page.label_total_commissions_owed' | translate }}</h1>
      <p>{{ page.total_commission_owed_in_dollars }}</p>
      <h1>{{ 'liquid.views.affiliate_reports_page.label_total_commissions_paid' | translate }}</h1>
      <p>{{ page.total_commission_paid_in_dollars }}</p>
    </section>
    <section>
      <h1>{{ 'liquid.views.affiliate_reports_page.header_commissions' | translate }}</h1>
      {% if page.has_commissions %}
        <table>
          <thead>
            <tr>
              <th>{{ 'liquid.views.affiliate_reports_page.table_header_product' | translate }}</th>
              <th>{{ 'liquid.views.affiliate_reports_page.table_header_date' | translate }}</th>
              <th>{{ 'liquid.views.affiliate_reports_page.table_header_sale' | translate }}</th>
              <th>{{ 'liquid.views.affiliate_reports_page.table_header_commission' | translate }}</th>
            </tr>
          </thead>
          <tbody>
            {% for commission in page.commissions %}
              <tr>
                <td data-label="{{ 'liquid.views.affiliate_reports_page.table_header_product' | translate }}">{{ commission.product_name }}</td>
                <td data-label="{{ 'liquid.views.affiliate_reports_page.table_header_date' | translate }}">{{ commission.date | long_date }}</td>
                <td data-label="{{ 'liquid.views.affiliate_reports_page.table_header_sale' | translate }}">{{ commission.sale_total }}</td>
                <td data-label="{{ 'liquid.views.affiliate_reports_page.table_header_commission' | translate }}">
                  {% if commission.sale_was_refunded %}
                    <span>{{ commission.amount_without_refunds }}</span>
                  {% endif %}
                  <span>{{ commission.amount_with_any_refunds }}</span>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% else %}
        <p>{{ 'liquid.views.affiliate_reports_page.message_no_commissions' | translate }}</p>
      {% endif %}
      <h1>{{ 'liquid.views.affiliate_reports_page.header_payouts' | translate }}</h1>
      {% if page.has_payouts %}
        <table>
          <thead>
            <tr>
              <th>{{ 'liquid.views.affiliate_reports_page.table_header_date' | translate }}</th>
              <th>{{ 'liquid.views.affiliate_reports_page.table_header_amount' | translate }}</th>
            </tr>
          </thead>
          <tbody>
            {% for payout in page.payouts %}
              <tr>
                <td data-label="{{ 'liquid.views.affiliate_reports_page.table_header_date' | translate }}">{{ payout.date | long_date }}</td>
                <td data-label="{{ 'liquid.views.affiliate_reports_page.table_header_amount' | translate }}">{{ payout.amount }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% else %}
        <p>{{ 'liquid.views.affiliate_reports_page.message_no_payouts' | translate }}</p>
      {% endif %}
      <h1>{{ 'liquid.views.affiliate_reports_page.header_visitors' | translate }}</h1>
      {% if page.has_visitors %}
        <table>
          <thead>
            <tr>
              <th>{{ 'liquid.views.affiliate_reports_page.table_header_date' | translate }}</th>
              <th>{{ 'liquid.views.affiliate_reports_page.table_header_total' | translate }}</th>
            </tr>
          </thead>
          <tbody>
            {% for visitor_date in page.visitor_dates %}
              <tr>
                <td data-label="{{ 'liquid.views.affiliate_reports_page.table_header_date' | translate }}">{{ visitor_date.date | long_date }}</td>
                <td data-label="{{ 'liquid.views.affiliate_reports_page.table_header_total' | translate }}">{{ visitor_date.total_visitors }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% else %}
        <p>{{ 'liquid.views.affiliate_reports_page.message_no_visitors' | translate }}</p>
      {% endif %}
    </section>
  </main>
</div>
