<div class="affiliate">
  <aside>
    {% include 'affiliate__menu' %}
  </aside>
  <main id="{{ theme.settings.main_content_id }}">
    <h1>{{ 'liquid.views.affiliate_settings_page.header_affiliate_information' | translate }}</h1>
    {% form 'affiliate_settings' %}
      {% if errors.size > 0 %}
        {% include 'form__errors' %}
      {% endif %}
      {% assign field = fields.affiliate_code %}
      <label for="{{ field.name }}">{{ field.label }}
        <input type="text" name="{{ field.name }}" value="{{ field.value }}" readonly />
      </label>
      {% assign field = fields.affiliate_commission %}
      <label for="{{ field.name }}">{{ field.label }}
        <input type="text" value="{{ field.value }}" readonly />
      </label>

      {% assign field = fields.affiliate_payout_email %}
      <label for="{{ field.name }}">{{ field.label }}
        <input type="email" name="{{ field.name }}" value="{{ field.value }}" />
      </label>

      <input type="submit" value="{{ fields.submit.label }}" />
    {% endform %}
  </main>
</div>
