<div class="affiliate">
  <aside>
    {% include 'affiliate__menu' %}
  </aside>
  <main id="{{ theme.settings.main_content_id }}">
    <h1>{{ 'liquid.views.affiliate_index_page.header_general_affiliate_information' | translate }}</h1>
    {{ 'liquid.views.affiliate_index_page.msg_affiliate_comission_percent_of_sales_1' | translate }}
    <strong>{{ page.affiliate_commission_percentage }}</strong>
    {{ 'liquid.views.affiliate_index_page.msg_affiliate_comission_percent_of_sales_2' | translate }}
  </main>
</div>
