<main class="express-sign-in" id="{{ theme.settings.main_content_id }}">
  <section>
    <h1>{{ 'liquid.views.express_sign_in_page.thinkific_express_signin' | translate }}</h1>
    <p>{{ 'liquid.views.express_sign_in_page.set_password' | translate }}</p>
    {% form 'express_sign_in' %}
      {% if errors.size > 0 %}
        {% include 'form__errors' %}
      {% endif %}

      {% assign field = fields.email %}
      <input type="hidden" name="{{ field.name }}" value="{{ field.value }}">
      {% assign field = fields.password %}
      <label for="{{ field.name }}">
        {{ field.label }}
        <input type="password" id="{{ field.name }}" name="{{ field.name }}" placeholder="{{ field.placeholder }}" {% if field.required %}required{% endif %} autocapitalize="off" autocomplete="off" autocorrect="off" spellcheck="false" autofocus />
      </label>

      {% assign field = fields.password_confirmation %}
      <label for="user_password_confirmation">{{ field.label }}
        <input type="password" name="{{ field.name }}" placeholder="{{ field.placeholder }}" id="user_password_confirmation" {% if field.required %}required{% endif %} autocapitalize="off" autocomplete="off" autocorrect="off" spellcheck="false" />
      </label>
      
      <input type="submit" id="sign-in" name="commit" value="{{ fields.submit.label }}">
    {% endform %}
  </section>
</main>
