<div class="my-account">
  {% include 'my_account__banner' %}
  <aside class="my-account__menu">
    {% include 'my_account__menu' %}
  </aside>
  <main id="{{ theme.settings.main_content_id }}">
    {% form 'my_account' %}
      {% if errors.size > 0 %}
        {% include 'form__errors' %}
      {% endif %}
      {% assign field = fields.avatar %}
      <label for="{{ field.name }}">
        <img src="{{ site.current_user.avatar }}" alt="{{ site.current_user.name }}" title="{{ site.current_user.name }}" />
        <span>{{ field.label }}</span>
        <input type="file" id="{{ field.name }}" name="{{ field.name }}" />
      </label>

      <p id="feedback-area"></p>

      {% assign field = fields.email %}
      <label for="{{ field.name }}">
        {{ field.label }}
        <input type="email" id="{{ field.name }}" name="{{ field.name }}" value="{{ field.value }}" />
      </label>

      {% assign field = fields.first_name %}
      <label for="{{ field.name }}">
        {{ field.label }}
        <input type="text" id="{{ field.name }}" name="{{ field.name }}" value="{{ field.value }}" />
      </label>

      {% assign field = fields.last_name %}
      <label for="{{ field.name }}">
        {{ field.label }}
        <input type="text" id="{{ field.name }}" name="{{ field.name }}" value="{{ field.value }}" />
      </label>

      {% assign field = fields.company_name %}
      <label for="{{ field.name }}">
        {{ field.label }}
        <input type="text" id="{{ field.name }}" name="{{ field.name }}" value="{{ field.value }}" />
      </label>

      {% assign field = fields.headline %}
      <label for="{{ field.name }}">
        {{ field.label }}
        <input type="text" id="{{ field.name }}" name="{{ field.name }}" value="{{ field.value }}" />
      </label>

      {% assign field = fields.timezone %}
      <label for="{{ field.name }}">
        {{ field.label }}
        <select id="{{ field.name }}" name="{{ field.name }}">
          <option value="">{{ field.placeholder }}</option>
          {% for timezone in page.timezone_options %}
            <option value="{{ timezone.value }}" {% if timezone.value == field.value %}selected="selected"{% endif %}>{{ timezone.label }}</option>
          {% endfor %}
        </select>
      </label>

      {% if page.has_student_locale_selection_enabled %}
        {% assign field = fields.site_locale %}
        <label for="{{ field.name }}">
          {{ field.label }}
          <select id="{{ field.name }}" name="{{ field.name }}">
            <option value="">{{ field.placeholder }}</option>
            {% for site_locale in page.site_locale_options %}
              <option value="{{ site_locale.value }}" {% if site_locale.value == field.value %}selected="selected"{% endif %}>{{ site_locale.label }}</option>
            {% endfor %}
          </select>
        </label>
      {% endif %}

      {% for field in custom_signup_fields %}
        {{ field.hidden_input }}
        <label for="{{ field.name }}">
          {{ field.label }}
          {% if field.type_is_country %}
            <select id="{{ field.name }}" name="{{ field.name }}" {% if field.required %}required{% endif %}>
              {{ field.country_options }}
            </select>
          {% else %}
            <input type="text" id="{{ field.name }}" name="{{ field.name }}" value="{{ field.value }}" {% if field.required %}required{% endif %} />
          {% endif %}
        </label>
      {% endfor %}

      <input type="submit" value="{{ fields.submit.label }}" />
    {% endform %}
  </main>
</div>
