<div class="my-account">
  {% include 'my_account__banner' %}
  <aside>
    {% include 'my_account__menu' %}
  </aside>
  <main id="{{ theme.settings.main_content_id }}">
    <h1>{{ 'liquid.views.my_account_certificates_page.header_my_certificates' | translate }}</h1>
    {% if site.current_user.has_certificates %}
      <p>{{ 'liquid.views.my_account_certificates_page.table.header_certificates' | translate }}</p>
      <table>
        <thead>
          <tr>
            <th>{{ 'liquid.views.my_account_certificates_page.table.column_course' | translate }}</th>
            <th>{{ 'liquid.views.my_account_certificates_page.table.column_completed_at' | translate }}</th>
            <th>{{ 'liquid.views.my_account_certificates_page.table.column_certificate' | translate }}</th>
          </tr>
        <tbody>
          {% for enrollment in page.enrollments_with_certificates %}
            <tr>
              <td data-label="{{ 'liquid.views.my_account_certificates_page.table.column_course' | translate }}">{{ enrollment.course_name | truncate: 25 }}</td>
              <td data-label="{{ 'liquid.views.my_account_certificates_page.table.column_completed_at' | translate }}">{{ enrollment.completed_at | date: '%B %d, %Y %H:%M' }}</td>
              <td data-label="{{ 'liquid.views.my_account_certificates_page.table.column_certificate' | translate }}">
                <a href="{{ enrollment.certificate_url }}" target="_blank">
                  {{ 'liquid.views.my_account_certificates_page.table.view' | translate }}
                </a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p>
        {{ 'liquid.views.my_account_certificates_page.msg_no_certificates' | translate }}
      </p>
    {% endif %}
  </main>
</div>
