<div class="my-account">
  {% include 'my_account__banner' %}
  <aside>
    {% include 'my_account__menu' %}
  </aside>
  <main id="{{ theme.settings.main_content_id }}">
    <h1>{{ 'liquid.views.my_account_password_page.custom_header_change_password' | translate }}</h1>
    {% form 'my_account_password' %}
      {% if errors.size > 0 %}
        {% include 'form__errors' %}
      {% endif %}
      {% assign field = fields.password %}
      <label for="{{ field.name }}">
        {{ field.label }}
        <input type="password" id="{{ field.name }}" name="{{ field.name }}" autocomplete="off" autofocus />
      </label>

      {% assign field = fields.password_confirmation %}
      <label for="{{ field.name }}">
        {{ field.label }}
        <input type="password" id="{{ field.name }}" name="{{ field.name }}" />
      </label>

      {% if site.current_user.has_password %}
        {% assign field = fields.current_password %}
        <label for="{{ field.name }}">
          {{ field.label }}
          <input type="password" id="{{ field.name }}" name="{{ field.name }}" />
        </label>
        <p>{{ 'liquid.views.my_account_password_page.custom_msg_current_password' | translate }}</p>
      {% endif %}

      <input type="submit" name="commit" value="{{ fields.submit.label }}" />

    {% endform %}
  </main>
</div>
