<div class="my-account">
  {% include 'my_account__banner' %}
  <aside>
    {% include 'my_account__menu' %}
  </aside>
  <main id="{{ theme.settings.main_content_id }}">
    {% form 'my_account_notifications' %}
      {% if errors.size > 0 %}
        {% include 'form__errors' %}
      {% endif %}
      <h1>{{ 'liquid.views.my_account_notifications_page.header_notifications' | translate }}</h1>
      {% if page.allow_weekly_email_reminders %}
        {% assign field = fields.notify_on_weekly_reminder %}
        <label for="{{ field.name }}">
          <input name="{{ field.name }}" type="hidden" value="0">
          <input type="checkbox" id="{{ field.name }}" name="{{ field.name }}" value="1" {% if field.value %}checked="checked"{% endif %} />
          {{ field.label }}
        </label>
      {% endif %}

      {% if page.allow_discussion_question_answered_email %}
        {% assign field = fields.notify_on_my_discussion_question_answered %}
        <label for="{{ field.name }}">
          <input name="{{ field.name }}" type="hidden" value="0">
          <input type="checkbox" id="{{ field.name }}" name="{{ field.name }}" value="1" {% if field.value %}checked="checked"{% endif %} />
          {{ field.label }}
        </label>
      {% endif %}

      <input type="submit" name="commit" value="{{ fields.submit.label }}" />
    {% endform %}
  </main>
</div>
