<main class="course-review" id="{{ theme.settings.main_content_id }}">
  <h1>{{ 'liquid.views.new_course_review_page.custom_tell_us_what_you_thought_text' | translate }}</h1>
  <h2>{{ page.course_review.course.name }}</h2>
  {% form 'new_course_review' %}
    {% if errors.size > 0 %}
      {% include 'form__errors' %}
    {% endif %}
    {% assign field = fields.title %}
    <label for="{{ field.name }}">{{ field.label }}
      <input type="text" id="{{ field.name }}" name="{{ field.name }}" value="{{ field.value }}" {% if field.required %}required{% endif %} />
    </label>

    {% assign field = fields.review_text %}
    <label for="{{ field.name }}">{{ field.label }}
      <textarea id="{{ field.name }}" name="{{ field.name }}" {% if field.required %}required{% endif %}>{{ field.value }}</textarea>
    </label>
    
    {% assign field = fields.rating %}
    <label id="stars" for="{{ field.name }}">{{ field.label }}<br>
      <span>
        {% for i in (1..5) %}
          <input type="radio" aria-label="{{ i }}" value="{{ i }}" name="{{ field.name }}" {% if field.value == i %}checked="checked"{% endif %} />
        {% endfor %}
      </span>
    </label>

    <input type="submit" value="{{ fields.submit.label }}" />

  {% endform %}
</main>
