<main class="password-reset" id="{{ theme.settings.main_content_id }}">
  <h1>{{ 'liquid.views.password_reset_page.title_edit' | translate }}</h1>
  {% form 'password_reset' %}
    {% if errors.size > 0 %}
      {% include 'form__errors' %}
    {% endif %}
    {% assign field = fields.reset_password_token %}
    <input type="hidden" value="{{ field.value }}" name="{{ field.name }}" />
    
    {% assign field = fields.password %}
    <label for="{{ field.name }}">
      {{ field.label }}
      <input type="password" id="{{ field.name }}" name="{{ field.name }}" placeholder="{{ field.placeholder }}" {% if field.required %}required{% endif %} autocapitalize="off" autocomplete="off" autocorrect="off" spellcheck="false" />
    </label>

    {% assign field = fields.password_confirmation %}
    <label for="{{ field.name }}">
      {{ field.label }}
      <input type="password" id="{{ field.name }}" name="{{ field.name }}" placeholder="{{ field.placeholder }}" {% if field.required %}required{% endif %} autocapitalize="off" autocomplete="off" autocorrect="off" spellcheck="false" />
    </label>

    <input type="submit" name="commit" value="{{ fields.submit.label }}" />

  {% endform %}
</main>
