<main class="password-reset" id="{{ theme.settings.main_content_id }}">
  <h1>{{ 'liquid.views.password_reset_request_page.text_forgot_password' | translate }}</h1>
  {% form 'password_reset_request' %}
    {% if errors.size > 0 %}
      {% include 'form__errors' %}
    {% endif %}

    <p>{{ 'liquid.views.password_reset_request_page.text_explanation' | translate }}</p>

    {% assign field = fields.email %}
    <label for="{{ field.name }}">
      {{ field.label }}
      <input type="email" id="{{ field.name }}" value="{{ field.value }}" name="{{ field.name }}" placeholder="{{ field.placeholder }}" {% if field.required %}required{% endif %} autocapitalize="off" autocomplete="off" autocorrect="off" spellcheck="false" autofocus />
    </label>
      
    <input type="submit" name="commit" value="{{ fields.submit.label }}" />

  {% endform %}
</main>
