{% comment %}
  This is the sign in page.
{% endcomment %}

<main class="sign-in" id="main-content" role="main">
  <div class="sign-in__container">
    <div class="sign-in__wrapper">
      <article class="sign-in__form">
        <h1 class="page__heading">{{ 'liquid.views.sign_in_page.header_welcome_back' | translate }}</h1>
        {% include 'remote_sign_in' %}
        {% form 'sign_in' %}
        {% if errors.size > 0 %}
          {% include 'form_errors' %}
        {% endif %}
        <div class="form__group">
          {% assign field = fields.email %}
          <label class="form__label">{{ field.label }}
            <input type="email" id="{{ field.name }}" name="{{ field.name }}" value="{{ field.value }}" placeholder="{{ field.placeholder }}" autocapitalize="off" autocomplete="off" autocorrect="off" spellcheck="false" autofocus {% if field.required %}required{% endif %} class="form__control" />
          </label>
        </div>
        <div class="form__group">
          {% assign field = fields.password %}
          <label for="{{ field.name }}" class="form__label">{{ field.label }}
            <input type="password" id="{{ field.name }}" name="{{ field.name }}" placeholder="{{ field.placeholder }}" autocapitalize="off" autocomplete="off" autocorrect="off" spellcheck="false" {% if field.required %}required{% endif %} class="form__control" />
          </label>
        </div>
        <div class="form__group form__remember-me">
          {% assign field = fields.remember_me %}
          {% comment %}
            This hidden input is necessary so that things behave correctly when the checkbox is left unticked.
          {% endcomment %}
          <label for="{{ field.name }}" class="form__label">
            <input type="hidden" name="{{ field.name }}" value="0" />
            <input type="checkbox" id="{{ field.name }}" name="{{ field.name }}" value="{{ field.value }}" class="form__control" />
            {{ field.label }}
          </label>
          <a href="{{ page.forgot_password_url }}" class="form__forgot-password">{{ 'liquid.views.sign_in_page.forgot_password' | translate }}
          </a>
        </div>
        <div class="form__group">
          <input type="submit" value="{{ fields.submit.label }}" class="button button-primary button-block" id="sign-in" />
        </div>
        {% endform %}
      </article>
      <aside class="sign-in__sign-up">
        <a href='{{ page.sign_up_url }}'>
          {{ 'liquid.views.sign_in_page.link_create_account' | translate }}
        </a>
      </aside>
    </div>
  </div>
  {{ content_for_page }}
</main>

{% schema %}
{
  "sections":{
    "options":[
      "course_cards",
      "call_to_action",
      "countdown_timer",
      "richtext",
      "video"
    ],
    "defaults":[
      "course_cards",
      "call_to_action",
      "countdown_timer"
    ]
  }
}
{% endschema %}
