{% assign course = page.course %}

<section class="banner-course" data-preview-item="banner-course">
  <div class="banner-course__container">
    <div class="banner-course__wrapper">
      <header class="banner-course__img-container" style="background-image:url({{ course.image.large }});"></header>
      <article class="section__content section__body">
        <div class="section__content__wrapper">
          <span class="section__subheading">Category:
            {% for collection in course.collections %}
              {% if forloop.last == false %}
                {{ collection.name | append: ", " }}
              {% else %}
                {{ collection.name }}
              {% endif %}
            {% endfor %}
          </span>
          <h1 class="section__heading">{{ course.name }}</h1>
          {% if course.reviews_enabled and course.reviews.approved_count > 0 %}
            <section class="banner-course__reviews">
              <span class="review__stars">
                {% assign rating = course.reviews.average_rating | ceil %}
                {% for index in (1..rating) %}
                  <label>
                    <input type="radio" name="rating" value="{{ index }}" tabindex="-1"/>
                    {% include 'star' %}
                  </label>
                {% endfor %}
              </span>
              <span class="review__stars-count">({{ course.reviews.approved_count }})</span>
            </section>
          {% endif %}
          <section class="banner-course__description">{{ course.course_card_text }}</section>
          {% include 'product_action_buttons' %}
        </div>
        <footer class="banner-course__details">
          {% if course.lesson_count != blank %}
            <span class="banner-course__lesson-count"><strong>{{ course.lesson_count }}</strong> Lessons</span>
          {% endif %}
          {% if course.chapters.size != empty %}
            <span class="banner-course__chapter-count"><strong>{{ course.chapters.size }}</strong> Chapters</span>
          {% endif %}
          {% if course.course_hours != blank %}
            <span class="banner-course__course-hours"><strong>{{ course.course_hours }}</strong> Hours</span>
          {% endif %}
        </footer>
      </article>
    </div>
  </div>
</section>

{% schema %}
{
  "label":"Banner (Course) [smart]",
  "settings":[]
}
{% endschema %}
