{% assign course = page.course %}

<section class="banner-course
{% include 'section_color_preset' %}
{% include 'section_height_preset' %}" data-preview-item="banner-course">
  <div class="banner-course__container">
    <div class="banner-course__wrapper">
      <header class="banner-course__img-container" style="background-image:url({{ course.card_image_url }});"></header>
      <article class="section__content section__body">
        <div class="section__content__wrapper">
          <h1 class="section__heading">{{ course.name }}</h1>
          {% if course.reviews_enabled and course.reviews.approved_count > 0 %}
            <section class="banner-course__reviews">
              <span class="review__stars">
                {% assign rating = course.reviews.average_rating | ceil %}
                {% for index in (1..5) %}
                  <input type="radio" name="rating" value="{{ index }}" tabindex="-1"/>
                  {% if index <= rating %}
                    {% include 'star' %}
                  {% endif %}
                {% endfor %}
              </span>
              <span class="review__stars-count">({{ course.reviews.approved_count }})</span>
            </section>
          {% endif %}
          <section class="banner-course__description">{{ course.course_card_text }}</section>
          <div class="banner-course__wrapper">
            {% if course.additional_prices != empty %}
              <section class="banner-course__action-buttons
              {% if course.has_free_trial %}
                banner-course__action-buttons--block
              {% endif %}">
                <label for="{{ course.name | kebab_case }}" class="form__select-no-label">
                  <select id="{{ course.name | kebab_case }}" name="{{ course.display_price }}" class="form__control banner-course__prices">
                    {% if !course.is_free %}
                      <option value="{{ course.links.buy }}" selected>{{ course.display_price }}</option>
                    {% endif %}
                    {% for price in course.additional_prices %}
                      <option value="{{ price.links.add_to_cart }}">{{ price.display_price }} {{ price.price_name }}</option>
                    {% endfor %}
                  </select>
                </label>
              </section>
            {% endif %}
            <section class="banner-course__button-group">
              <a href="{{ course.links.buy }}" class="button button-primary button-purchase">Purchase</a>
              {% if course.has_free_trial %}
                {% assign enroll_free_text = 'liquid.partials.course_landing_page_action_buttons.link_free_trial' | translate %}
                <a href="{{ course.links.enroll_free_trial }}" class="button button-secondary">{{ enroll_free_text }}</a>
              {% endif %}
            </section>
          </div>
        </div>
        <footer class="banner-course__details">
          <span class="banner-course__lesson-count"><strong></strong> Lessons</span>
          <span class="banner-course__chapter-count"><strong>{{ course.chapters.size }}</strong> Chapters</span>
          <span class="banner-course__lesson-time">{{ course.lesson_count }}</span>
        </footer>
      </article>
    </div>
  </div>
</section>

<script>
$(document).ready(function() {
  var $priceList = $('.banner-course__prices'),
      $buttonPurchase = $('.button-purchase');
  $priceList.on('change', function() {
    console.log($(this).val());
    $buttonPurchase.attr('href', $(this).val());
  });
});
</script>

{% schema %}
{
  "label":"Banner (Course)",
  "settings":[
    {
      "label":"Background",
      "settings":[
        {
          "type":"select",
          "id":"background_color_preset",
          "label":"Choose color set",
          "description":"Color sets can be configured in the Design area.",
          "default":"banner",
          "options":[
            {
              "value":"banner",
              "label":"Banner"
            },
            {
              "value":"primary",
              "label":"Primary"
            },
            {
              "value":"secondary",
              "label":"Secondary"
            },
            {
              "value":"tertiary",
              "label":"Tertiary"
            }
          ]
        }
      ]
    },
    {
      "label":"Section height",
      "settings":[
        {
          "type":"select",
          "id":"section_height_preset",
          "label":"Height preset",
          "description":"",
          "default":"medium",
          "options":[
            {
              "value":"small",
              "label":"Small"
            },
            {
              "value":"medium",
              "label":"Medium"
            },
            {
              "value":"large",
              "label":"Large"
            },
            {
              "value":"banner",
              "label":"Banner"
            }
          ]
        }
      ]
    }
  ]
}
{% endschema %}
