<section class="call-to-action
{% if section.settings.background_image != blank %}
 full-width-background
{% endif %}
{% if section.settings.background_color_preset != blank %}
 {{ section.settings.background_color_preset | prepend: 'section-color-preset__' }}
{% endif %}
{% if section.settings.section_height_preset != blank %}
 {{ section.settings.section_height_preset | prepend: 'section-height__' }}
{% endif %}" data-preview-item="call-to-action">
  <div class="call-to-action__container">
    <article class="section__content">
      {% if section.settings.heading != blank %}
        <header class="section__headings">
          <h3 class="section__heading">{{ section.settings.heading }}</h3>
          {% if section.settings.subheading != blank %}
            <h4 class="section__subheading">{{ section.settings.subheading }}</h4>
          {% endif %}
        </header>
      {% endif %}
      {% if section.settings.body != blank %}
        <section class="section__body">{{ section.settings.body }}</section>
      {% endif %}
      {% if section.blocks != empty %}
      <ul class="section__button-group">
        {% for block in section.blocks %}
          {% if block.settings.price.links.add_to_cart != empty %}
            <li><a class="button button-primary" href="{{ block.settings.price.links.add_to_cart }}">{{ block.settings.button_text }}</a></li>
          {% else %}
            <li><a class="button button-primary" href="{{ block.settings.button_url }}">{{ block.settings.button_text }}</a></li>
          {% endif %}
        {% endfor %}
        </ul>
      {% endif %}
    </article>
  </div>
</section>

{% style %}

section.call-to-action {

  .section__content {
    text-align: {{ section.settings.content_alignment }};
  }

  {% if section.settings.content_alignment == "center" %}
    .section__subheading:before {
      margin-right: auto;
      margin-left: auto;
    }

    .section__button-group {
      @include justify-content(center);
    }
  {% endif %}

  {% if section.settings.content_alignment == "right" %}
    .section__subheading:before {
      margin-left: auto;
    }

    .section__button-group {
      @include justify-content(flex-end);
    }
  {% endif %}

  {% if section.settings.background_image != blank %}
    $background-image: '{{ section.settings.background_image }}';
  {% else %}
    $background-image: null;
  {% endif %}

  $background-overlay-color: {{ section.settings.overlay_color }};
  $background-overlay-opacity: {{ section.settings.overlay_opacity }} * 0.01;

  @if $background-overlay-opacity {
    $color: rgba($background-overlay-color, $background-overlay-opacity);
    $overlay: linear-gradient(
      $color,
      $color
    );
  } @else {
    $overlay: null;
  }
  $img: if($background-image, url('#{$background-image}'), null);

  @if $img {
    $background: ($overlay, $img);
  } @else {
    $background: (rgba($background-overlay-color, $background-overlay-opacity));
  }

  &.full-width-background {
    @include background-image($background...);
  }
}

{% endstyle %}

{% schema %}
{
  "label":"Call to action",
  "settings":[
    {
      "label":"Heading",
      "settings":[
        {
          "type":"text",
          "id":"heading",
          "label":"Heading",
          "default":"Ready to elevate your career?"
        },
        {
          "type":"text",
          "id":"subheading",
          "label":"Subheading",
          "default":"Get started now!"
        }
      ]
    },
    {
      "label":"Text",
      "settings":[
        {
          "type":"textarea",
          "id":"body",
          "label":"",
          "default":""
        }
      ]
    },
    {
      "type":"radio",
      "id":"content_alignment",
      "label":"Alignment",
      "default":"center",
      "options":[
        {
          "value":"left",
          "label":"Left"
        },
        {
          "value":"center",
          "label":"Center"
        },
        {
          "value":"right",
          "label":"Right"
        }
      ]
    },
    {
      "label":"Background",
      "settings":[
        {
          "type":"select",
          "id":"background_color_preset",
          "label":"Choose color set",
          "description":"Color sets can be configured in the Design area.",
          "default":"banner",
          "options":[
            {
              "value":"banner",
              "label":"Banner"
            },
            {
              "value":"primary",
              "label":"Primary"
            },
            {
              "value":"secondary",
              "label":"Secondary"
            },
            {
              "value":"tertiary",
              "label":"Tertiary"
            }
          ]
        },
        {
          "type":"image",
          "id":"background_image",
          "default":"",
          "label":"Image"
        },
        {
          "type":"color",
          "id":"overlay_color",
          "label":"Overlay Color",
          "default":"#D9DEE2"
        },
        {
          "type":"number",
          "id":"overlay_opacity",
          "label":"Overlay Opacity",
          "default":0,
          "min":0,
          "max":100
        }
      ]
    },
    {
      "label":"Section Height",
      "settings":[
        {
          "type":"select",
          "id":"section_height_preset",
          "label":"Height Preset",
          "description":"Presets can be configured in the base.scss",
          "default":"large",
          "options":[
            {
              "value":"small",
              "label":"Small"
            },
            {
              "value":"medium",
              "label":"Medium"
            },
            {
              "value":"large",
              "label":"Large"
            }
          ]
        }
      ]
    }
  ],
  "blocks":{
    "label":"Add Button",
    "limit":2,
    "types":[
      {
        "type":"button",
        "label":"Button",
        "settings":[
          {
            "type":"text",
            "id":"button_text",
            "label":"Text"
          },
          {
            "type":"price_picker",
            "id":"price",
            "label":"Attach a course"
          },
          {
            "type":"page_picker",
            "id":"button_url",
            "label":"Custom URL"
          }
        ]
      }
    ],
    "defaults":[]
  }
}
{% endschema %}
