<section class="checklist
{% if section.settings.background_color_preset != blank %}
 {{ section.settings.background_color_preset | prepend: 'section-color-preset__' }}
{% endif %}" data-preview-item="checklist">
  <div class="checklist__container">
    <div class="checklist__wrapper">
      {% if section.settings.heading != blank %}
        <header class="section__headings">
          <h3 class="section__heading">{{ section.settings.heading }}</h3>
          {% if section.settings.subheading != blank %}
            <p class="section__subheading">{{ section.settings.subheading }}</p>
          {% endif %}
        </header>
      {% endif %}
      {% if section.blocks != empty %}
        <article class="section__content">
          <ul class="checklist__list">
            {% for block in section.blocks %}
              <li class="checklist__list-item">
                <h4><i class="fa {{ block.settings.item_icon }}"></i>{{ block.settings.item_name }}</h4>
              </li>
            {% endfor %}
          </ul>
        </article>
        {% endif %}
    </div>
  </div>
</section>

{% style %}

section.checklist {

  .section__heading,
  .section__subheading {
    text-align: {{ section.settings.heading_alignment }};
  }

  {% if section.settings.heading_alignment == "center" %}
    .section__subheading:before {
      margin-right: auto;
      margin-left: auto;
    }
  {% endif %}
}

{% endstyle %}

{% schema %}
{
  "label":"Checklist",
  "settings":[
    {
      "label":"Headings",
      "settings":[
        {
          "type":"text",
          "id":"heading",
          "label":"Heading",
          "default":"What you'll learn"
        },
        {
          "type":"text",
          "id":"subheading",
          "label":"Subheading",
          "default":"Aliquam cursus lectus eget ante suscipit, id lacinia metus ultricies. Phasellus nisl nisi, pretium vitae suscipit a, lacinia eget magna. Sed at molestie metus, et auctor nisl. Donec eget enim dictum, facilisis enim quis, commodo nunc. Nam vehicula est ac tempus tristique. Pellentesque non tincidunt ex. Nulla blandit dapibus nibh eu tempor. Praesent eleifend massa neque, et efficitur risus pretium ac."
        },
        {
          "type":"radio",
          "id":"heading_alignment",
          "label":"Alignment",
          "description":"Headings will inherit the same alignment",
          "default":"left",
          "options":[
            {
              "value":"left",
              "label":"Left"
            },
            {
              "value":"center",
              "label":"Center"
            },
            {
              "value":"right",
              "label":"Right"
            }
          ]
        }
      ]
    },
    {
      "label":"Background",
      "settings":[
        {
          "type":"select",
          "id":"background_color_preset",
          "label":"Choose color set",
          "description":"Color sets can be configured in the Design area.",
          "default":"secondary",
          "options":[
            {
              "value":"primary",
              "label":"Primary"
            },
            {
              "value":"secondary",
              "label":"Secondary"
            },
            {
              "value":"tertiary",
              "label":"Tertiary"
            }
          ]
        }
      ]
    }
  ],
  "blocks":{
    "label":"Add item",
    "limit":10,
    "types":[
      {
        "type":"item",
        "label":"Item",
        "settings":[
          {
            "type":"text",
            "id":"item_icon",
            "label":"",
            "default":"fa-check"
          },
          {
            "type":"text",
            "id":"item_name",
            "label":"Name"
          }
        ]
      }
    ],
    "defaults":[
      {
        "type":"item",
        "values":{
          "item_icon":"fa-check",
          "item_name":"Management"
        }
      },
      {
        "type":"item",
        "values":{
          "item_icon":"fa-check",
          "item_name":"Marketing"
        }
      },
      {
        "type":"item",
        "values":{
          "item_icon":"fa-check",
          "item_name":"Branding"
        }
      },
      {
        "type":"item",
        "values":{
          "item_icon":"fa-check",
          "item_name":"Social Media"
        }
      },
      {
        "type":"item",
        "values":{
          "item_icon":"fa-check",
          "item_name":"Email marketing"
        }
      },
      {
        "type":"item",
        "values":{
          "item_icon":"fa-check",
          "item_name":"Leadership"
        }
      }
    ]
  }
}
{% endschema %}
