<section class="countdown" data-preview-item="countdown">
  {% if section.settings.heading != blank or section.settings.subheading != blank %}
    <header>
      {% if section.settings.heading != blank %}
        <h1>{{ section.settings.heading }}</h1>
      {% endif %}
      {% if section.settings.subheading != blank %}
        <h2>{{ section.settings.subheading }}</h2>
      {% endif %}
    </header>
  {% endif %}
  <article>
    <ul data-deadline="{{ section.settings.expiry_date }}" aria-live="polite">
      <li>
        <span>00</span> {{ 'liquid.partials.countdown.days' | translate }}
      </li>
      <li>
        <span>00</span> {{ 'liquid.partials.countdown.hours' | translate }}
      </li>
      <li>
        <span>00</span> {{ 'liquid.partials.countdown.minutes' | translate }}
      </li>
      <li>
        <span>00</span> {{ 'liquid.partials.countdown.seconds' | translate }}
      </li>
    </ul>
  </article>
  {% if section.settings.button_text != blank %}
    <a href="{{ section.settings.button_link }}">{{ section.settings.button_text }}</a>
  {% endif %}
</section>

{% schema %}
{
  "label":"Countdown timer",
  "settings":[
    {
      "type":"checkbox",
      "id":"section_background_decoration",
      "label":"Show styled background",
      "default":true
    },
    {
      "type":"datetime",
      "id":"expiry_date",
      "label":"Expiry date and time (UTC)",
      "default":"2018-12-31T18:00:00.000Z"
    },
    {
      "label":"Headings",
      "settings":[
        {
          "type":"text",
          "id":"heading",
          "label":"Heading",
          "default":"Countdown timer"
        },
        {
          "type":"text",
          "id":"subheading",
          "label":"Subheading",
          "default":"Use this section to create urgency for your offer."
        }
      ]
    },
    {
      "label":"Button",
      "settings":[
        {
          "type": "text",
          "id": "button_text",
          "label": "Text",
          "default": "Call to action"
        },
        {
          "type":"page_picker",
          "id":"button_link",
          "label":"Link",
          "default":""
        },
        {
          "type":"radio",
          "id":"button_type",
          "label":"Type",
          "description":"",
          "default":"primary",
          "options":[
            {
              "value":"primary",
              "label":"Primary"
            },
            {
              "value":"secondary",
              "label":"Secondary"
            }
          ]
        }
      ]
    }
  ]
}
{% endschema %}
