<section class="course-curriculum" data-preview-item="course-curriculum">
  <ul>
    {% for chapter in page.course.chapters %}
      {% assign index = forloop.index + 1 %}
      <li>
        {% if index < 10 %}
          {% assign chapter_prefix = "0" %}
        {% else %}
          {% assign chapter_prefix = "" %}
        {% endif %}
        <span>Chapter {{ index }}</span>
        <header>
          <h3>{{ chapter.name }}</h3>
        </header>
        <ul id="chapter-{{ index + 1 }}">
          {% for content in chapter.contents %}
            <li>
              {% if content.free %}
                <a href="{{ page.course.links.enroll_free_trial }}">
              {% else %}
                <span>
              {% endif %}
              <i class="{{ content.icon_css_class }}" aria-hidden="true"></i>{{ content.name }}
              {% if content.free %}
                <span>
                  {{ 'liquid.partials.course_landing_page_curriculum.label_free' | translate }}
                </span>
              {% endif %}
              {% if content.free %}
                </a>
              {% else %}
                </span>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      </li>
    {% endfor %}
  </ul>
</section>

{% schema %}
{
  "label":"Curriculum [smart section]",
  "description":"This smart section automatically updates as you update the curriculum of your course. <a href='/manage/courses/' target='_blank'>Edit Course »</a>",
  "settings":[
    {
      "label":"Headings",
      "settings":[
        {
          "type":"text",
          "id":"heading",
          "label":"Heading",
          "default":"Course curriculum"
        },
        {
          "type":"text",
          "id":"subheading",
          "label":"Subheading",
          "default":""
        },
        {
          "type":"radio",
          "id":"heading_alignment",
          "label":"Alignment",
          "description":"",
          "default":"center",
          "options":[
            {
              "value":"left",
              "label":"Left"
            },
            {
              "value":"center",
              "label":"Center"
            },
            {
              "value":"right",
              "label":"Right"
            }
          ]
        }
      ]
    },
    {
      "label":"Layout",
      "settings":[
        {
          "type":"checkbox",
          "id":"section_padding_top",
          "label":"Remove top section padding",
          "default":false
        },
        {
          "type":"checkbox",
          "id":"section_padding_bottom",
          "label":"Remove bottom section padding",
          "default":false
        },
        {
          "type":"checkbox",
          "id":"show_collapsed",
          "label":"Collapsed by default",
          "default":true
        }
      ]
    }
  ]
}
{% endschema %}
