<section class="course-curriculum-legacy
{% include 'section_utility_color_preset' %}" data-preview-item="course-curriculum">
  <div class="course-curriculum-legacy__container">
    {% include 'section_headings' %}
    <article class="section__content">
      <ul class="course-curriculum-legacy__chapter-list section__body">
        {% for chapter in page.course.chapters %}
          {% assign index = forloop.index + 1 %}
          <li class="course-curriculum-legacy__chapter">
            <header class="course-curriculum-legacy__chapter-header">
              <span class="course-curriculum-legacy__chapter-number">{{ index }}</span>
              <h5 class="course-curriculum-legacy__chapter-title">{{ chapter.name }}
                <i class="course-curriculum-legacy__chapter-collapse"></i>
              </h5>
            </header>
            <ul class="course-curriculum-legacy__chapter-content" id="chapter-{{ index + 1 }}">
              {% for content in chapter.contents %}
                <li>
                  <a href="{{ content.take_course_url }}" class="course-curriculum-legacy__chapter-lesson">
                  {{ content.name }}
                  {% if content.free %}
                    <span class="course-curriculum-legacy__chapter-lesson--free">{{ 'liquid.partials.course_landing_page_curriculum.label_free' | translate }}</span>
                  {% endif %}
                  </a>
                </li>
              {% endfor %}
            </ul>
          </li>
        {% endfor %}
      </ul>
    </article>
  </div>
</section>

<script>
$(document).ready(function() {
  var $header = $('.course-curriculum-legacy .course-curriculum-legacy__chapter-header');
  {% if section.settings.show_collapsed %}
    $header.not(":eq(0)").each(function(k,v) {
      $(v).addClass('collapse');
      $(v).next('.course-curriculum-legacy__chapter-content').hide();
    });
  {% endif %}
  $header.on('click keypress', function(e) {
    if (e.which === 13 || e.type === 'click') {
      $(this).toggleClass('collapse');
      $(this).next('.course-curriculum-legacy__chapter-content').toggle(350);
    }
  });
});
</script>

{% style %}

section.course-curriculum-legacy {

  {% include 'section_style_heading_order' %}

  .section__heading,
  .section__subheading {
    text-align: {{ section.settings.heading_alignment }};
  }
}

{% endstyle %}

{% schema %}
{
  "label":"Course curriculum (Legacy)",
  "settings":[
    {
      "label":"Headings",
      "settings":[
        {
          "type":"text",
          "id":"heading",
          "label":"Heading",
          "default":"What's included?"
        },
        {
          "type":"text",
          "id":"subheading",
          "label":"Subheading",
          "default":""
        },
        {
          "type":"radio",
          "id":"heading_alignment",
          "label":"Alignment",
          "description":"",
          "default":"center",
          "options":[
            {
              "value":"left",
              "label":"Left"
            },
            {
              "value":"center",
              "label":"Center"
            },
            {
              "value":"right",
              "label":"Right"
            }
          ]
        },
        {
          "type":"radio",
          "id":"heading_order",
          "label":"Order",
          "default":"default",
          "options":[
            {
              "value":"default",
              "label":"Default"
            },
            {
              "value":"flipped",
              "label":"Flipped"
            }
          ]
        }
      ]
    },
    {
      "label":"Curriculum content",
      "settings":[
        {
          "type":"checkbox",
          "id":"show_collapsed",
          "label":"Collapsed by default",
          "default":true
        }
      ]
    },
    {
      "label":"Background",
      "settings":[
        {
          "type":"select",
          "id":"background_color_preset",
          "label":"Choose color set",
          "description":"Color sets can be configured in the Design area.",
          "default":"secondary",
          "options":[
            {
              "value":"primary",
              "label":"Primary"
            },
            {
              "value":"secondary",
              "label":"Secondary"
            },
            {
              "value":"tertiary",
              "label":"Tertiary"
            }
          ]
        }
      ]
    }
  ]
}
{% endschema %}
