<section class="course-categories" data-preview-item="course-categories">
  {% if section.blocks != empty %}
    <ul>
      {% for block in section.blocks %}
        {% assign category = block.settings.category %}
        <li>
          <a href="{{ category.url }}">
            {% if category.image.medium != blank %}
              {% assign category_image = category.image.medium %}
            {% else %}
              {% assign category_image = category.image.original %}
            {% endif %}

            {% if block.settings.show_category_name %}
              <img src="{{ category_image }}" alt="{{ collection.name }}" title="{{ collection.name }}" aria-hidden="true" />
              <p>{{ collection.name }}</p>
            {% else %}
              <img src="{{ category_image }}" alt="{{ collection.name }}" title="{{ collection.name }}" />
            {% endif %}
          </a>
        </li>
      {% endfor %}
    </ul>
  {% endif %}
</section>

{% schema %}
{
  "label":"Categories",
  "description":"This smart section includes all of your categories. <a href='/manage/collections/' target='_blank'>Edit categories »</a>",
  "settings":[
    {
      "label":"Headings",
      "settings":[
        {
          "type":"text",
          "id":"heading",
          "label":"Heading",
          "default":"Categories"
        },
        {
          "type":"text",
          "id":"subheading",
          "label":"Subheading",
          "default":""
        },
        {
          "type":"radio",
          "id":"heading_alignment",
          "label":"Alignment",
          "description":"",
          "default":"center",
          "options":[
            {
              "value":"left",
              "label":"Left"
            },
            {
              "value":"center",
              "label":"Center"
            },
            {
              "value":"right",
              "label":"Right"
            }
          ]
        }
      ]
    },
    {
      "label":"Layout",
      "settings":[
        {
          "type":"checkbox",
          "id":"section_padding_top",
          "label":"Remove top section padding",
          "default":false
        },
        {
          "type":"checkbox",
          "id":"section_padding_bottom",
          "label":"Remove bottom section padding",
          "default":false
        }
      ]
    }
  ],
  "blocks":{
    "label":"Add category",
    "limit":12,
    "types":[
      {
        "type":"category",
        "label":"Category",
        "settings":[
          {
            "type":"category_picker",
            "id":"category",
            "label":"Category"
          },
          {
            "type":"checkbox",
            "id":"show_category_name",
            "label":"Show category name",
            "default":true
          }
        ]
      }
    ],
    "defaults":[]
  }
}
{% endschema %}
