<section class="description
{% if section.settings.background_color_preset != blank %}
 {{ section.settings.background_color_preset | prepend: 'section-color-preset__' }}
{% endif %}" data-preview-item="description">
  <div class="description__container">
    <div class="description__wrapper">
      {% if section.settings.heading != blank %}
        <header class="section__headings">
          <h3 class="section__heading">{{ section.settings.heading }}</h3>
          {% if section.settings.subheading != blank %}
            <p class="section__subheading">{{ section.settings.subheading }}</p>
          {% endif %}
        </header>
      {% endif %}
      <article class="section__content">
        <section class="section__body">
          {{ section.settings.body }}
        </section>
      </article>
    </div>
  </div>
</section>

{% style %}

section.description {

  .section__heading,
  .section__subheading {
    text-align: {{ section.settings.content_alignment }};
  }

  {% if section.settings.content_alignment == "center" %}
    .section__subheading:before {
      margin-right: auto;
      margin-left: auto;
    }
    .section__headings,
    .section__content {
      @include screen-lg-min {
        @include make-col(12);
      }
    }
  {% endif %}

  {% if section.settings.content_alignment == "right" %}
    .section__headings {
      @include order(2);
    }
    .section__content {
      @include order(1);
    }
  {% endif %}
}

{% endstyle %}

{% schema %}
{
  "label":"Description",
  "settings":[
    {
      "label":"Headings",
      "settings":[
        {
          "type":"text",
          "id":"heading",
          "label":"Heading",
          "default":"Course description"
        },
        {
          "type":"text",
          "id":"subheading",
          "label":"Subheading",
          "default":""
        }
      ]
    },
    {
      "label":"Text",
      "settings":[
        {
          "type":"richtext",
          "id":"body",
          "label":"",
          "default":"<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at ante vitae nulla vulputate elementum. Maecenas imperdiet malesuada lacinia. Donec sit amet aliquet urna. Nam sit amet eros dapibus, commodo ligula a, imperdiet mi. Fusce rhoncus eros in leo rutrum, at lobortis leo sodales. Quisque nibh tellus, rutrum placerat turpis ac, ullamcorper suscipit nisl. Nullam faucibus quam a leo imperdiet, vel blandit nibh iaculis. Duis efficitur ipsum eu eros fermentum, in volutpat erat tincidunt. Curabitur sit amet vulputate sem. Donec vel facilisis est. Morbi vitae mollis massa, sed maximus ex. Duis elit orci, scelerisque ut erat eu, tincidunt euismod erat.</p><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at ante vitae nulla vulputate elementum. Maecenas imperdiet malesuada lacinia. Donec sit amet aliquet urna. Nam sit amet eros dapibus, commodo ligula a, imperdiet mi. Fusce rhoncus eros in leo rutrum, at lobortis leo sodales. Quisque nibh tellus, rutrum placerat turpis ac, ullamcorper suscipit nisl. Nullam faucibus quam a leo imperdiet, vel blandit nibh iaculis. Duis efficitur ipsum eu eros fermentum, in volutpat erat tincidunt. Curabitur sit amet vulputate sem. Donec vel facilisis est. Morbi vitae mollis massa, sed maximus ex. Duis elit orci, scelerisque ut erat eu, tincidunt euismod erat.</p>"
        }
      ]
    },
    {
      "label":"Content alignment",
      "settings":[
        {
          "type":"radio",
          "id":"content_alignment",
          "label":"",
          "description":"",
          "default":"left",
          "options":[
            {
              "value":"left",
              "label":"Left"
            },
            {
              "value":"center",
              "label":"Center"
            },
            {
              "value":"right",
              "label":"Right"
            }
          ]
        }
      ]
    },
    {
      "label":"Background",
      "settings":[
        {
          "type":"select",
          "id":"background_color_preset",
          "label":"Choose color set",
          "description":"Color sets can be configured in the Design area.",
          "default":"secondary",
          "options":[
            {
              "value":"primary",
              "label":"Primary"
            },
            {
              "value":"secondary",
              "label":"Secondary"
            },
            {
              "value":"tertiary",
              "label":"Tertiary"
            }
          ]
        }
      ]
    }
  ]
}
{% endschema %}
