<section class="image-and-text" data-preview-item="image-and-text">
  <article>
    {{ section.settings.body }}
    {% if section.settings.button_text != empty and section.settings.button_link != blank %}
      <a href="{{ section.settings.button_link }}">{{ section.settings.button_text }}</a>
    {% endif %}
  </article>
  {% if section.settings.image != blank %}
    <article>
      <img src="{{ section.settings.image }}" alt="{{ section.settings.image_alt }}" title="{{ section.settings.image_alt }}" />
    </article>
  {% endif %}
</section>

{% schema %}
{
  "label":"Image & text (with CTA)",
  "settings":[
    {
      "label":"Text",
      "settings":[
        {
          "type":"text",
          "id":"heading",
          "label":"Heading",
          "default":"Image & text (with CTA)"
        },
        {
          "type":"text",
          "id":"subheading",
          "label":"Subheading",
          "default":""
        },
        {
          "type":"textarea",
          "id":"body",
          "label":"Description",
          "default":"Use this area to describe the image or provide supporting information."
        }
      ]
    },
    {
      "label":"Image",
      "settings":[
        {
          "type":"image",
          "id":"image",
          "label":"",
          "default":"https://cdn.thinkific.com/13/20180205/2fe50a485eaf445b855d83b153605d08.png"
        },
        {
          "type":"text",
          "id":"image_alt",
          "label":"Image alt text",
          "description":"<small>Describe your image for the visually impaired.</small>"
        },
        {
          "type":"number",
          "min":50,
          "max":150,
          "id":"image_size",
          "default":100,
          "label":"Image size",
          "description":"<small>Scale your image width from 50% to 150%</small>"
        }
      ]
    },
    {
      "label":"Button",
      "settings":[
        {
          "type":"text",
          "id":"button_text",
          "label":"Text",
          "default":"Call to action"
        },
        {
          "type":"page_picker",
          "id":"button_link",
          "label":"Link",
          "default":""
        },
        {
          "type":"radio",
          "id":"button_type",
          "label":"Type",
          "description":"",
          "default":"primary",
          "options":[
            {
              "value":"primary",
              "label":"Primary"
            },
            {
              "value":"secondary",
              "label":"Secondary"
            }
          ]
        }
      ]
    },
    {
      "label":"Layout",
      "settings":[
        {
          "type":"checkbox",
          "id":"section_padding_top",
          "label":"Remove top section padding",
          "default":false
        },
        {
          "type":"checkbox",
          "id":"section_padding_bottom",
          "label":"Remove bottom section padding",
          "default":false
        },
        {
          "type":"radio",
          "id":"content_alignment",
          "label":"Content alignment",
          "default":"left",
          "options":[
            {
              "value":"left",
              "label":"Left"
            },
            {
              "value":"center",
              "label":"Center"
            },
            {
              "value":"right",
              "label":"Right"
            }
          ]
        },
        {
          "type":"radio",
          "id":"image_alignment",
          "label":"Image alignment",
          "default":"right",
          "options":[
            {
              "value":"left",
              "label":"Left"
            },
            {
              "value":"right",
              "label":"Right"
            }
          ]
        }
      ]
    }
  ]
}
{% endschema %}
