<section class="text-image
{% if section.settings.background_color_preset != blank %}
 {{ section.settings.background_color_preset | prepend: 'section-color-preset__' }}
{% endif %}" data-preview-item="text-image">
  <div class="text-image__container">
    <article class="section__content">
      {% if section.settings.body != blank %}
        <section class="text-image__body {% if section.settings.body != blank %}has-image{% endif %}">
          {% if section.settings.heading != blank %}
            <header class="section__headings">
              <h3 class="section__heading">{{ section.settings.heading }}</h3>
              {% if section.settings.subheading != blank %}
                <h4 class="section__subheading">{{ section.settings.subheading }}</h4>
              {% endif %}
            </header>
          {% endif %}
          {{ section.settings.body }}
        </section>
      {% endif %}
      {% if section.settings.image != blank %}
        <section class="text-image__image" style="background-image: url({{ section.settings.image }});"></section>
      {% endif %}
    </article>
  </div>
</section>

{% style %}

section.text-image {

  .section__content {
    text-align: {{ section.settings.content_alignment }};
  }

  {% if section.settings.content_alignment == "center" %}
    .section__subheading:before {
      margin-right: auto;
      margin-left: auto;
    }
  {% endif %}
}

{% if section.settings.image_alignment == "left" %}
  .text-image__image {
    @include order(1);
  }

  .text-image__body {
    @include order(2);
  }
{% endif %}

{% endstyle %}

{% schema %}
{
  "label":"Image & text",
  "settings":[
    {
      "label":"Headings",
      "settings":[
        {
          "type":"text",
          "id":"heading",
          "label":"Heading",
          "default":""
        },
        {
          "type":"text",
          "id":"subheading",
          "label":"Subheading",
          "default":""
        }
      ]
    },
    {
      "label":"Content alignment",
      "settings":[
        {
          "type":"radio",
          "id":"content_alignment",
          "label":"",
          "default":"left",
          "options":[
            {
              "value":"left",
              "label":"Left"
            },
            {
              "value":"center",
              "label":"Center"
            },
            {
              "value":"right",
              "label":"Right"
            }
          ]
        }
      ]
    },
    {
      "label":"Text",
      "settings":[
        {
          "type":"textarea",
          "id":"body",
          "label":"",
          "default":""
        }
      ]
    },
    {
      "label":"Image",
      "settings":[
        {
          "type":"image",
          "id":"image",
          "label":"",
          "default":""
        },
        {
          "type":"radio",
          "id":"image_alignment",
          "label":"Alignment",
          "default":"right",
          "options":[
            {
              "value":"left",
              "label":"Left"
            },
            {
              "value":"right",
              "label":"Right"
            }
          ]
        }
      ]
    },
    {
      "label":"Background",
      "description":"",
      "settings":[
        {
          "type":"select",
          "id":"background_color",
          "label":"Choose color set",
          "description":"Color sets can be configured in the Design area.",
          "default":"secondary",
          "options":[
            {
              "value":"primary",
              "label":"Primary"
            },
            {
              "value":"secondary",
              "label":"Secondary"
            },
            {
              "value":"tertiary",
              "label":"Tertiary"
            }
          ]
        }
      ]
    }
  ]
}
{% endschema %}
