<section class="instructor {% if section.settings.background_color_preset != 'none' and section.settings.background_color_preset != blank %}{{ section.settings.background_color_preset | prepend: 'section-color-preset__' }}{% endif %}" data-preview-item="instructor">
  <div class="container">
    {% if section.settings.heading != blank %}
      <header class="section__headings">
        <h3 class="section__heading">{{ section.settings.heading }}</h3>
        {% if section.settings.subheading != blank %}
          <h4 class="section__subheading">{{ section.settings.subheading }}</h4>
        {% endif %}
      </header>
    {% endif %}
    <article class="section__content">
      {% if section.blocks != empty %}
        <ul class="instructor__list">
          {% for block in section.blocks %}
          {% assign instructor = block.settings.instructor %}
            <li class="instructor__profile">
              <header>
                {% if instructor.avatar != blank %}
                  <img class="instructor__avatar" src="{{ instructor.avatar }}" alt="{{ instructor.full_name }}" title="{{ instructor.full_name }}"  />
                {% endif %}
                  <h4 class="instructor__name">
                    {{ instructor.full_name }}
                  </h4>
                {% if instructor.title != blank %}
                  <h4 class="instructor__title">
                    {{ instructor.title }}
                  </h4>
                {% endif %}
              </header>
              {% if instructor.bio != blank %}
                <section class="instructor__bio">
                  {{ instructor.bio }}
                </section>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    </article>
  </div>
</section>

<script>
$(window).load(function() {
  var $instructorsCarousel = $('.instructor__list').addClass('owl-carousel'),
      instructorsOwlOptions = {
        center: false,
        dots: true,
        loop: true,
        margin: 0,
        nav: true,
        navText: ['<i class="fa fa-chevron-left"></i>','<i class="fa fa-chevron-right"></i>'],
        slideBy: 1,
        responsive: {
          0: {
            items: 1
          }
        }
      };
  $instructorsCarousel.owlCarousel(instructorsOwlOptions);
});
</script>

{% style %}

section.instructor {

  .section__heading,
  .section__subheading {
    text-align: {{ section.settings.heading_alignment }};
  }

  {% if section.settings.heading_alignment == "center" %}
    .section__subheading:before {
      margin-right: auto;
      margin-left: auto;
    }
  {% endif %}
}

{% endstyle %}

{% schema %}
{
  "label":"Instructors",
  "settings":[
    {
      "label":"Headings",
      "settings":[
        {
          "type":"text",
          "id":"heading",
          "label":"Heading",
          "default":"About the instructors"
        },
        {
          "type":"text",
          "id":"subheading",
          "label":"Subheading",
          "default":""
        },
        {
          "type":"radio",
          "id":"heading_alignment",
          "label":"Alignment",
          "description":"Headings will inherit the same alignment",
          "default":"center",
          "options":[
            {
              "value":"left",
              "label":"Left"
            },
            {
              "value":"center",
              "label":"Center"
            },
            {
              "value":"right",
              "label":"Right"
            }
          ]
        }
      ]
    },
    {
      "label":"Background",
      "settings":[
        {
          "type":"select",
          "id":"background_color_preset",
          "label":"Color Preset",
          "description":"Presets can be configured in the Colors configuration menu",
          "default":"secondary",
          "options":[
            {
              "value":"none",
              "label":"None"
            },
            {
              "value":"primary",
              "label":"Primary"
            },
            {
              "value":"secondary",
              "label":"Secondary"
            },
            {
              "value":"tertiary",
              "label":"Tertiary"
            }
          ]
        }
      ]
    }
  ],
  "blocks":{
    "label":"Add Instructor",
    "limit":3,
    "types":[
      {
        "type":"instructor",
        "label":"",
        "settings":[
          {
            "type":"instructor_picker",
            "id":"instructor",
            "label":"Select Course Instructor"
          }
        ]
      }
    ],
    "defaults": [
      {
        "type":"instructor",
        "values":{
          "instructor":
        }
      },
      {
        "type":"instructor",
        "values":{
          "instructor":
        }
      },
      {
        "type":"instructor",
        "values":{
          "instructor": 
        }
      }
    ]
  }
}
{% endschema %}
