<section class="instructor" data-preview-item="instructor">
  {% if section.blocks != empty %}
    <ul>
      {% for block in section.blocks %}
        {% assign instructor = block.settings.instructor %}
        <li>
          {% if instructor.avatar != blank %}
            <img src="{{ instructor.image.original }}" alt="{{ instructor.full_name }}" title="{{ instructor.full_name }}" />
          {% endif %}
          <header>
            {% if instructor.title != blank %}
              <h3>
                {{ instructor.title }}
              </h3>
            {% endif %}
            <h4>
              {{ instructor.full_name }}
            </h4>
          </header>
          {% if instructor.bio != blank %}
          <article>
            {{ instructor.bio }}
          </article>
          <ul>
            {% if block.settings.social_icon != null and block.settings.social_link != blank and block.settings.social_text != blank %}
              <li>
                <a href="{{ block.settings.social_link }}">
                  <i class="fa {{ block.settings.social_icon }}" aria-label="{{ block.settings.social_link }}"></i>
                  {{ block.settings.social_text }}
                </a>
              </li>
            {% endif %}
            {% if block.settings.social_icon_2 != null and block.settings.social_link_2 != blank and block.settings.social_text_2 != blank %}
              <li>
                <a href="{{ block.settings.social_link_2 }}">
                  <i class="fa {{ block.settings.social_icon_2 }}" aria-label="{{ block.settings.social_link_2 }}"></i>
                  {{ block.settings.social_text_2 }}
                </a>
              </li>
            {% endif %}
            {% if instructor.email != blank and section.settings.show_email == true %}
              <li>
                <a href="mailto:{{ instructor.email }}">
                  <i class="fa fa-envelope" aria-hidden="true"></i> Email
                </a>
              </li>
            {% endif %}
          </ul>
        {% endif %}
        </li>
      {% endfor %}
    </ul>
  {% endif %}
</section>

{% schema %}
{
  "label":"Instructor(s)",
  "description":"Select which Instructor bio(s) will appear in this section. <a href='/manage/instructors/' target='_blank'>Manage your Instructor bios »</a>",
  "settings":[
    {
      "type":"checkbox",
      "id":"show_email",
      "label":"Show instructor email",
      "default":true
    },
    {
      "label":"Headings",
      "settings":[
        {
          "type":"text",
          "id":"heading",
          "label":"Heading",
          "default":"Instructor(s)"
        },
        {
          "type":"text",
          "id":"subheading",
          "label":"Subheading",
          "default":""
        },
        {
          "type":"radio",
          "id":"heading_alignment",
          "label":"Alignment",
          "description":"",
          "default":"center",
          "options":[
            {
              "value":"left",
              "label":"Left"
            },
            {
              "value":"center",
              "label":"Center"
            },
            {
              "value":"right",
              "label":"Right"
            }
          ]
        }
      ]
    },
    {
      "label":"Layout",
      "settings":[
        {
          "type":"checkbox",
          "id":"section_padding_top",
          "label":"Remove top section padding",
          "default":false
        },
        {
          "type":"checkbox",
          "id":"section_padding_bottom",
          "label":"Remove bottom section padding",
          "default":false
        }
      ]
    }
  ],
  "blocks":{
    "label":"Add instructor bio",
    "limit":3,
    "types":[
      {
        "type":"instructor",
        "label":"Instructor bio",
        "settings":[
          {
            "type":"instructor_picker",
            "id":"instructor",
            "label":"Instructor"
          }
        ]
      }
    ],
    "defaults": []
  }
}
{% endschema %}
