<section class="pricing-table
{% if section.settings.background_color_preset != blank %}
 {{ section.settings.background_color_preset | prepend: 'section-color-preset__' }}
{% endif %}" data-preview-item="pricing-table">
  <div class="pricing-table__container">
    <div class="pricing-table__wrapper">
      {% if section.settings.heading != blank %}
        <header class="section__headings">
          <h3 class="section__heading">{{ section.settings.heading }}</h3>
          {% if section.settings.subheading != blank %}
            <h4 class="section__subheading">{{ section.settings.subheading }}</h4>
          {% endif %}
        </header>
      {% endif %}
      <article class="section__content">
        <ul class="pricing-table__list">
          <li class="pricing-table__list-item">
            <div class="pricing-table__list-item-details">
              <h4>{{ page.course.display_price }}</h4>
              <h5>{{ section.settings.price_name }}</h5>
            </div>
            {% if page.course.is_free %}
              {% assign enroll_free_text = 'liquid.partials.course_landing_page_action_buttons.link_enroll_free' | translate %}
              <a href="{{ page.course.links.enroll_free }}" class="button button-primary">{{ enroll_free_text }}</a>
            {% else %}
              <a href="{{ page.course.links.buy }}" class="button button-primary">{{ page.course.buy_button_text }}</a>
            {% endif %}
          </li>
          {% for price in page.course.additional_prices %}
            <li class="pricing-table__list-item">
              <div class="pricing-table__list-item-details">
                <h4>{{ price.display_price }}</h4>
                <h5>{{ price.name }}</h5>
              </div>
              <a href="{{ price.links.add_to_cart }}" class="button button-primary">{{ price.buy_button_text }}</a>
            </li>
          {% endfor %}
        </ul>
      </article>
    </div>
  </div>
</section>

{% style %}

section.pricing-table {

  .section__heading,
  .section__subheading {
    text-align: {{ section.settings.heading_alignment }};
  }

  {% if section.settings.heading_alignment == "center" %}
    .section__subheading:before {
      margin-right: auto;
      margin-left: auto;
    }
  {% endif %}
}

{% endstyle %}

{% schema %}
{
  "label":"Pricing Table",
  "settings":[
    {
      "label":"Headings",
      "settings":[
        {
          "type":"text",
          "id":"heading",
          "label":"Heading",
          "default":"Pricing options"
        },
        {
          "type":"text",
          "id":"subheading",
          "label":"Subheading",
          "default":"Pay once, or save money with our payment plans"
        },
        {
          "type":"radio",
          "id":"heading_alignment",
          "label":"Alignment",
          "description":"Headings will inherit the same alignment",
          "default":"left",
          "options":[
            {
              "value":"left",
              "label":"Left"
            },
            {
              "value":"center",
              "label":"Center"
            },
            {
              "value":"right",
              "label":"Right"
            }
          ]
        }
      ]
    },
    {
      "label":"Pricing Options",
      "settings": [
        {
          "type": "text",
          "id": "price_name",
          "label": "Default Price Description",
          "default": "Regular Price"
        }
      ]
    },
    {
      "label":"Background",
      "settings":[
        {
          "type":"select",
          "id":"background_color_preset",
          "label":"Choose color set",
          "description":"Color sets can be configured in the Design area.",
          "default":"secondary",
          "options":[
            {
              "value":"primary",
              "label":"Primary"
            },
            {
              "value":"secondary",
              "label":"Secondary"
            },
            {
              "value":"tertiary",
              "label":"Tertiary"
            }
          ]
        }
      ]
    }
  ]
}
{% endschema %}
