<section class="pricing-table section-height__medium
{% include 'section_utility_column_layout' %}" data-preview-item="pricing-table">
  <div class="pricing-table__container">
    <div class="pricing-table__wrapper">
      {% include 'section_headings' %}
      <article class="section__content">
        <ul class="pricing-table__list section__body">
          {% if page.product_is_course %}
            {% assign product = page.course %}
          {% elsif page.product_is_bundle %}
            {% assign product = page.bundle %}
          {% endif %}
          <li class="pricing-table__list-item">
            <div class="pricing-table__list-item-details">
              <h4>{{ product.display_price }}</h4>
              <h5>{{ section.settings.price_name }}</h5>
            </div>
            {% if product.is_free %}
              {% if product.product_is_course %}
                {% assign enroll_free_text = 'liquid.partials.course_landing_page_action_buttons.link_enroll_free' | translate %}
              {% elsif product.product_is_bundle %}
                {% assign enroll_free_text = page.bundle.enroll_free_button_text %}
              {% endif %}
              <a href="{{ product.links.enroll_free }}" class="button button-primary">{{ enroll_free_text }}</a>
            {% else %}
              {% if product.previously_purchased or product.user_can_resume %}
                {% assign product_url = product.links.resume %}
              {% else %}
                {% assign product_url = product.links.buy %}
              {% endif %}
              <a href="{{ product_url }}" class="button button-primary">{% if section.settings.button_text != empty %} {{ section.settings.button_text }} {% else %} Buy Now {% endif %}</a>
            {% endif %}
          </li>
          {% for price in product.additional_prices %}
            <li class="pricing-table__list-item">
              <div class="pricing-table__list-item-details">
                <h4>{{ price.display_price }}</h4>
                <h5>{{ price.name }}</h5>
              </div>
              <a href="{{ price.links.add_to_cart }}" class="button button-primary">{% if section.settings.button_text != empty %} {{ section.settings.button_text }} {% else %} Buy Now {% endif %}</a>
            </li>
          {% endfor %}
        </ul>
      </article>
    </div>
  </div>
</section>

{% style %}

section.pricing-table {
  {% include 'section_style_column_layout' %}
  {% include 'section_style_heading_alignment' %}
  {% include 'section_style_heading_ornament' %}
}

{% endstyle %}

{% schema %}
{
  "label":"Pricing options [smart section]",
  "settings":[
    {
      "type":"checkbox",
      "id":"pricing_options_description",
      "label":"",
      "description":"<small>This smart section includes all of the pricing options for this product.</small>"
    },
    {
      "type": "text",
      "id": "price_name",
      "label": "Default price description",
      "default": "Regular price"
    },
    {
      "type":"text",
      "id":"button_text",
      "label":"Button text",
      "default":"Get started now"
    },
    {
      "label":"Headings",
      "settings":[
        {
          "type":"text",
          "id":"heading",
          "label":"Heading",
          "default":"Pricing options"
        },
        {
          "type":"text",
          "id":"subheading",
          "label":"Subheading",
          "default":"Explain how different pricing options might be valuable to different segments of your audience."
        }
      ]
    },
    {
      "label":"Layout",
      "settings":[
        {
          "type":"radio",
          "id":"column_layout",
          "label":"",
          "description":"",
          "default":"two-column",
          "options":[
            {
              "value":"one-column",
              "label":"One Column"
            },
            {
              "value":"two-column",
              "label":"Two Columns"
            }
          ]
        },
        {
          "type":"radio",
          "id":"heading_alignment",
          "label":"Alignment",
          "description":"",
          "default":"left",
          "options":[
            {
              "value":"left",
              "label":"Left"
            },
            {
              "value":"center",
              "label":"Center"
            },
            {
              "value":"right",
              "label":"Right"
            }
          ]
        },
        {
          "type":"radio",
          "id":"heading_order",
          "label":"Heading Order",
          "default":"normal",
          "options":[
            {
              "value":"normal",
              "label":"Normal"
            },
            {
              "value":"reverse",
              "label":"Reverse"
            }
          ]
        }
      ]
    }
  ]
}
{% endschema %}
