<article class="sign-in__form">
  <h1>{{ 'liquid.views.sign_in_page.header_welcome_back' | translate }}</h1>
  {% form 'sign_in' %}
    {% if errors.size > 0 %}
      {% include 'form__errors' %}
    {% endif %}
    {% assign field = fields.email %}
    <label>{{ field.label }}
      <input type="email" id="{{ field.name }}" name="{{ field.name }}" value="{{ field.value }}" placeholder="{{ field.placeholder }}" autocapitalize="off" autocomplete="off" autocorrect="off" spellcheck="false" autofocus {% if field.required %}required{% endif %} />
    </label>
    
    {% assign field = fields.password %}
    <label for="{{ field.name }}">{{ field.label }}
      <input type="password" id="{{ field.name }}" name="{{ field.name }}" placeholder="{{ field.placeholder }}" autocapitalize="off" autocomplete="off" autocorrect="off" spellcheck="false" {% if field.required %}required{% endif %} />
    </label>

    {% assign field = fields.remember_me %}
    <label for="{{ field.name }}">
      <input type="hidden" name="{{ field.name }}" value="0" />
      <input type="checkbox" id="{{ field.name }}" name="{{ field.name }}" value="{{ field.value }}" />
      {{ field.label }}
    </label>
    <a href="{{ page.forgot_password_url }}">
      {{ 'liquid.views.sign_in_page.forgot_password' | translate }}
    </a>

    {% if site.invisible_recaptcha_enabled %}
      {% include 'form__recaptcha' %}
    {% else %}
      <input type="submit" value="{{ fields.submit.label }}" id="sign-in" />
    {% endif %}
  {% endform %}
  {% include 'form__remote_sign_in' %}
</article>
<a href="{{ page.sign_up_url }}">
  {{ 'liquid.views.sign_in_page.link_create_account' | translate }}
</a>

{% schema %}
{
  "label":"Default",
  "description":"This is a default section — the foundation of your Thinkific site.  While this section is not editable, you can customize this page by adding new sections.",
  "settings":[]
}
{% endschema %}
