<section class="student-dashboard">
  <p>{{ 'liquid.views.student_dashboard.header_dashboard' | translate }}, {{ site.current_user.first_name_last_initial }}</p>
  <aside class="student-dashboard__form">
    <form action="{{ site.student_dashboard_url }}" method="get" id="search-form">
      <h1>{{ 'liquid.partials.student_dashboard.header_my_courses' | translate }}</h1>
      <label for="search-query">
        <input type="search" name="search-query" placeholder="{{ 'liquid.partials.product_search.search_placeholder' | translate }}" value="{{ page.search_query }}" />
      </label>
      <a href='{{ site.collections_url }}'>{{ 'liquid.views.student_dashboard.link_view_more_courses' | translate }}</a>
      <label for="product-status">
        <select name="product-status" id="product-status" aria-label="product-status">
          {% for type in page.status_types %}
          <option value="{{type[0]}}">{{type[1]}}</option>
          {% endfor %}
        </select>
      </label>
    </form>
  </aside>
    
  {% if page.has_search_query %}
    {% include 'product__search_results' %}
  {% endif %}
  
  {% if page.enrolled_cards != empty %}
    <ul>
      {% assign cards = page.enrolled_cards | sort: 'last_accessed' | reverse %}
      {% paginate cards by 6 %}
      {% for card in paginate.collection %}
        {% unless card.is_hidden %}
          <li>
            {% include 'product__card__student_dashboard' with card %}
          </li>
        {% endunless %}
      {% endfor %}
      {% include 'product__card_pagination' with paginate %}
      {% endpaginate %}
    </ul>
  {% else %}
    <p>
      {{ 'liquid.views.student_dashboard.text_no_courses_found' | translate }}
    </p>
  {% endif %}
</section>

{% schema %}
{
  "label":"Default",
  "description":"This is a default section — the foundation of your Thinkific site.  While this section is not editable, you can customize this page by adding new sections.",
  "settings":[
    {
      "type":"checkbox",
      "id":"show_course_title",
      "label":"Show course title",
      "default":true
    },
    {
      "type":"radio",
      "id":"card_alignment",
      "label":"Card alignment",
      "description":"",
      "default":"left",
      "options":[
        {
          "value":"left",
          "label":"Left"
        },
        {
          "value":"center",
          "label":"Center"
        },
        {
          "value":"right",
          "label":"Right"
        }
      ]
    }
  ]
}
{% endschema %}
