<section class="testimonials section-height__medium" data-preview-item="testimonials">
  <div class="testimonials__container">
    {% include 'section_headings' %}
    <article class="section__content">
      {% if section.blocks != empty %}
        <section class="testimonials__list section__body">
          {% for block in section.blocks %}
            <div class="testimonials__list-item">
              <i class="fa fa-quote-left"></i>
              <p>&ldquo;{{ block.settings.testimonial_body }}&rdquo;</p>
              <span><img src="{{ block.settings.testimonial_avatar }}" alt="{{ block.settings.testimonial_author }}" title="{{ block.settings.testimonial_author }}" />{{ block.settings.testimonial_author }}</span>
            </div>
          {% endfor %}
        </section>
      {% endif %}
    </article>
  </div>
</section>

<script>
$(window).load(function() {
  var $testimonialsCarousel = $('.testimonials__list').addClass('owl-carousel'),
      testimonialCount = ($('.testimonials__list .testimonials__list-item').length <= 1),
      looped = (testimonialCount < 3) ? false : true,
      testimonialsOwlOptions = {
        center: false,
        dots: true,
        loop: looped,
        margin: 0,
        nav: true,
        navText: ['<i class="fa fa-chevron-left"></i>','<i class="fa fa-chevron-right"></i>'],
        slideBy: 1,
        responsive: {
          0: {
            items: 1
          },
          768: {
            items: 1.15
          },
          992: {
            items: 1.85
          }
        }
      };
  $testimonialsCarousel.owlCarousel(testimonialsOwlOptions);
});
</script>

{% style %}

section.testimonials {
  {% include 'section_style_heading_alignment' %}
  {% include 'section_style_heading_ornament' %}
}

{% endstyle %}

{% schema %}
{
  "label":"Social proof: testimonials",
  "settings":[
    {
      "label":"Headings",
      "settings":[
        {
          "type":"text",
          "id":"heading",
          "label":"Heading",
          "default":"Social proof: testimonials"
        },
        {
          "type":"text",
          "id":"subheading",
          "label":"Subheading",
          "default":""
        },
        {
          "type":"radio",
          "id":"heading_alignment",
          "label":"Alignment",
          "description":"",
          "default":"left",
          "options":[
            {
              "value":"left",
              "label":"Left"
            },
            {
              "value":"center",
              "label":"Center"
            },
            {
              "value":"right",
              "label":"Right"
            }
          ]
        },
        {
          "type":"radio",
          "id":"heading_order",
          "label":"Heading Order",
          "default":"normal",
          "options":[
            {
              "value":"normal",
              "label":"Normal"
            },
            {
              "value":"reverse",
              "label":"Reverse"
            }
          ]
        }
      ]
    }
  ],
  "blocks":{
    "label":"Add testimonial",
    "limit":10,
    "types":[
      {
        "type":"testimonial",
        "label":"Testimonial",
        "settings":[
          {
            "type":"text",
            "id":"testimonial_author",
            "label":"Author"
          },
          {
            "type":"image",
            "id":"testimonial_avatar",
            "label":"Avatar"
          },
          {
            "type":"textarea",
            "id":"testimonial_body",
            "label":"Text"
          }
        ]
      }
    ],
    "defaults":[
      {
        "type":"testimonial",
        "values":{
          "testimonial_author":"Author's name",
          "testimonial_avatar":"https://cdn.thinkific.com/13/20180118/719a1d048195b12ccd7286b716529896.png",
          "testimonial_body":"Share testimonials about you, your course, or your content. Don’t be afraid to reach out to your network to get some glowing words about the work you’ve done. Most potential students will look to the opinions of others when making purchase decisions online."
        }
      }
    ]
  }
}
{% endschema %}
