<section class="testimonials
{% include 'section_color_preset' %}
{% include 'section_height_preset' %}" data-preview-item="testimonials">
  <div class="testimonials__container">
    {% include 'section_headings' %}
    <article class="section__content">
      {% if section.blocks != empty %}
        <section class="testimonials__list section__body">
          {% for block in section.blocks %}
            <div class="testimonials__list-item">
              <i class="fa fa-quote-left"></i>
              <p>&ldquo;{{ block.settings.testimonial_body }}&rdquo;</p>
              <span><img src="{{ block.settings.testimonial_avatar }}" alt="{{ block.settings.testimonial_author }}" title="{{ block.settings.testimonial_author }}" />{{ block.settings.testimonial_author }}</span>
            </div>
          {% endfor %}
        </section>
      {% endif %}
    </article>
  </div>
</section>

<script>
$(window).load(function() {
  var $testimonialsCarousel = $('.testimonials__list').addClass('owl-carousel'),
      testimonialsOwlOptions = {
        center: false,
        dots: true,
        loop: true,
        margin: 0,
        nav: true,
        navText: ['<i class="fa fa-chevron-left"></i>','<i class="fa fa-chevron-right"></i>'],
        slideBy: 1,
        responsive: {
          0: {
            items: 1
          },
          768: {
            items: 1.15
          },
          992: {
            items: 1.85
          }
        }
      };
  $testimonialsCarousel.owlCarousel(testimonialsOwlOptions);
});
</script>

{% style %}

section.testimonials {

  {% include 'section_heading_order' %}
  {% include 'section_heading_ornament' %}

  .section__heading,
  .section__subheading {
    text-align: {{ section.settings.heading_alignment }};
  }

  {% if section.settings.heading_alignment == "center" %}
    .section__subheading:before {
      margin-right: auto;
      margin-left: auto;
    }
  {% endif %}
}

{% endstyle %}

{% schema %}
{
  "label":"Testimonials",
  "settings":[
    {
      "label":"Headings",
      "settings":[
        {
          "type":"text",
          "id":"heading",
          "label":"Heading",
          "default":"What customers are saying"
        },
        {
          "type":"text",
          "id":"subheading",
          "label":"Subheading",
          "default":""
        },
        {
          "type":"radio",
          "id":"heading_alignment",
          "label":"Alignment",
          "description":"",
          "default":"left",
          "options":[
            {
              "value":"left",
              "label":"Left"
            },
            {
              "value":"center",
              "label":"Center"
            },
            {
              "value":"right",
              "label":"Right"
            }
          ]
        },
        {
          "type":"radio",
          "id":"heading_order",
          "label":"Order",
          "default":"default",
          "options":[
            {
              "value":"default",
              "label":"Default"
            },
            {
              "value":"flipped",
              "label":"Flipped"
            }
          ]
        },
        {
          "type":"checkbox",
          "id":"show_heading_ornament",
          "label":"Show ornament",
          "default":true
        }
      ]
    },
    {
      "label":"Background",
      "settings":[
        {
          "type":"select",
          "id":"background_color_preset",
          "label":"Choose color set",
          "description":"Color sets can be configured in the Design area.",
          "default":"secondary",
          "options":[
            {
              "value":"primary",
              "label":"Primary"
            },
            {
              "value":"secondary",
              "label":"Secondary"
            },
            {
              "value":"tertiary",
              "label":"Tertiary"
            }
          ]
        }
      ]
    },
    {
      "label":"Section height",
      "settings":[
        {
          "type":"select",
          "id":"section_height_preset",
          "label":"Height preset",
          "description":"",
          "default":"medium",
          "options":[
            {
              "value":"small",
              "label":"Small"
            },
            {
              "value":"medium",
              "label":"Medium"
            },
            {
              "value":"large",
              "label":"Large"
            }
          ]
        }
      ]
    }
  ],
  "blocks":{
    "label":"Add testimonial",
    "limit":10,
    "types":[
      {
        "type":"testimonial",
        "label":"Testimonial",
        "settings":[
          {
            "type":"text",
            "id":"testimonial_author",
            "label":"Author"
          },
          {
            "type":"image",
            "id":"testimonial_avatar",
            "label":"Avatar"
          },
          {
            "type":"textarea",
            "id":"testimonial_body",
            "label":"Text"
          }
        ]
      }
    ],
    "defaults":[
      {
        "type":"testimonial",
        "values":{
          "testimonial_author":"Customer Name",
          "testimonial_avatar":"",
          "testimonial_body":"Nam commodo ornare lectus, vel ultricies urna pulvinar vitae. Donec diam risus, facilisis id facilisis ac, porta nec enim. Proin non porta augue. Integer neque nibh, tempor at fermentum ut, fermentum porttitor sapien. Mauris massa turpis, dictum id mauris sed, imperdiet porttitor ex."
        }
      },
      {
        "type":"testimonial",
        "values":{
          "testimonial_author":"Customer Name",
          "testimonial_avatar":"",
          "testimonial_body":"Nam commodo ornare lectus, vel ultricies urna pulvinar vitae. Donec diam risus, facilisis id facilisis ac, porta nec enim. Proin non porta augue. Integer neque nibh, tempor at fermentum ut, fermentum porttitor sapien. Mauris massa turpis, dictum id mauris sed, imperdiet porttitor ex."
        }
      },
      {
        "type":"testimonial",
        "values":{
          "testimonial_author":"Customer Name",
          "testimonial_avatar":"",
          "testimonial_body":"Nam commodo ornare lectus, vel ultricies urna pulvinar vitae. Donec diam risus, facilisis id facilisis ac, porta nec enim. Proin non porta augue. Integer neque nibh, tempor at fermentum ut, fermentum porttitor sapien. Mauris massa turpis, dictum id mauris sed, imperdiet porttitor ex."
        }
      },
      {
        "type":"testimonial",
        "values":{
          "testimonial_author":"Customer Name",
          "testimonial_avatar":"",
          "testimonial_body":"Nam commodo ornare lectus, vel ultricies urna pulvinar vitae. Donec diam risus, facilisis id facilisis ac, porta nec enim. Proin non porta augue. Integer neque nibh, tempor at fermentum ut, fermentum porttitor sapien. Mauris massa turpis, dictum id mauris sed, imperdiet porttitor ex."
        }
      },
      {
        "type":"testimonial",
        "values":{
          "testimonial_author":"Customer Name",
          "testimonial_avatar":"",
          "testimonial_body":"Nam commodo ornare lectus."
        }
      }
    ]
  }
}
{% endschema %}
