<!DOCTYPE html>
<html lang="{{ site.locale }}">
  <head>
    {{ required_header_content }}
    {% include 'theme__meta_tags' %}
    {% include 'theme__font_loader' %}
    {% include 'theme__css' %}
  </head>
  <body class="{{ page.page_identifier | kebab_case }} {{ theme.preset_name | kebab_case }} no-js">
    {% if theme.settings.enable_high_contrast == true %}
      {% include 'theme__high_contrast' %}
    {% endif %}
    {% include 'theme__settings' %}
    {% include 'theme__skip_link' %}
    {% section 'header' %}
    {{ content_for_layout }}
    {% section 'footer' %}
    {{ required_footer_content }}
    {% include 'theme__site_footer_code' %}
    {% include 'theme__script' %}
  </body>
</html>